
@{
    ViewBag.Title = "Administração";
}

<h2>Administração</h2>

<div>
 @Html.ActionLink("Novo post","CadastrarPost") 
    </div>
<div>
    @Html.ActionLink("Novo usuario", "CadastrarUsuario","Usuario") 
    </div>

