@model blogMarcelo.Web.Models.Blog.ListarPostsViewModel

@if (Model.TotalPaginas > 1)
{
    var paginaAnterior = Model.PaginaAtual - 1;
    var proximaPagina = Model.PaginaAtual + 1;

    <div class="pagination">
        
        @if (Model.PaginaAtual > 1)
        {
            @Html.ActionLink("Pagina anterior", "index", "Blog", new { pagina = paginaAnterior, tag = Model.Tag, pesquisa = Model.Pesquisa }, new { rel = "Prev" })
        }
     
           @if (Model.PaginaAtual < Model.TotalPaginas )
        { 
            @Html.ActionLink("Proxima Pagina", "index", "Blog", new { pagina = proximaPagina, tag = Model.Tag, pesquisa = Model.Pesquisa }, new { rel = "Prev" })
        }

     </div>





}